.top-div{
    background-image: url("./bg-img/carousel3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.img{
    background-image: url("./bg-img/cnt1.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80%;
    box-shadow: 10px 10px 10px goldenrod;
    
    
}
.contact-section-body{
   
    height: 600px;
    width: 100%;
    
}
.contact-card{
    padding-top: 10%;
    position: relative;
    
}
.social-icon-links ul {
    display: flex;
}
.social-icon-links ul li{
    padding-right: 20px;
    padding-top: 100px;
    color: goldenrod;
}
.social-icon-links ul li i{
    font-size: 40px;
    transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);  
    transform: scale(0.8);
}
.social-icon-links ul li i:hover{
    color: black;
    transform: scale(1);
    transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}
.contact-btn{
    width: 150px;
    height: 30px;
    border: 2px solid goldenrod;
    border-radius: 10px;
}