/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 10px) and (max-width: 399.98px)   {  
    .main-wrapper .tab-content .tab-pane .left-side-tb1 {
            
        width: 100%;
        
    }
    .team-members .t-card::before {
       
        padding-top: 290%;
        
    }
    .buyBitCoin .left button::before {
        padding-left: 3px;
    }
    .accordion-button:not(.collapsed)::before {
       
        padding-left: 9px !important;
        
    }
   
    .container-fluid .navbar-toggler {
        margin-top: -20px;
       
     }
   
    .nav-wrapper .nav-logo img {
        width: 422%;
        font-size: 60px;
        float: left;
        margin-top: -30px;
        margin-left: -20px;
        padding: 5px;
        border-radius: 1px solid yellow;
        background-color: black;
    }
    .container-fluid .btn-area{
       display: none !important;
    }
    .carousel-section {
        margin-top: -140px;
        
    }
    header  {
        display: none;
    }
  
    .main-wrapper .tab-content .tab-pane .pane-bottom .image {
        padding-top: 10%;
    }
    .main-wrapper .tab-content .tab-pane .pane-bottom .details {
       
        padding-left: 124px;
        margin-top: -103px;
    }
    .pane-bottom .bb-response{
        width: 100%;
        margin-bottom: 10px;
    }

    .main-wrapper .counter-section .counter-area .item {
        background: rgb(80, 62, 62, 0);
        
    }
    .pane-bottom .bb-response{
        width: 100%;
        margin-bottom: 10px;
    }
    .tab-pane .pane-top {
        margin-bottom: 20px;
    }
    .res-card{
        margin-bottom: 10px;
       }
       .team-work-section{
        padding-bottom: 20px;
       }
       section{
        margin-bottom: 10px;
       }
       .main-wrapper .tab-content .tab-pane .pane-bottom .changes{
       
        
        padding: 0;
        height: 300px;
        margin-right: -12px;
       
        
     }
     .foter-section .social-link{
        padding-left: 40px;
     }
     .foter-section{
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
     }
     .subscribe-area .frm input{
        margin-top: 5px;
     }
     .subscribe-area .frm{
        display: flex;
        flex-direction: column;
     }
     .subscribe-area form {
        padding-left: 0%;
    }
    .subscribe-title {
        width: 100%;
        text-align: center !important;
    }
    .main-wrapper .tab-content .tab-pane .pane-bottom .changes::before {
        padding-top: 120%;
    }
    .main-wrapper .tab-content .tab-pane .pane-bottom .image {
        padding-top: 30%;
        left: 0;
    }
    
    .main-wrapper .tab-content .tab-pane .pane-bottom .changes:hover::before {
        left: 40% !important;
    }
    .main-wrapper .tab-content .tab-pane .pane-bottom .changes:hover .image {
        left: -10px;
    }
    .main-wrapper .tab-content .tab-pane .pane-bottom .details {
        padding-left: 120px;
        margin-top: -188px;
        font-size: 12px;
    }
    .main-cal{
        display: flex;
        flex-direction: column;
    }
    .converter-area-cc{
        width: 100%;
    }
    .cal-response{
        width: 100% !important;

    }
    .calculator{
        display: flex;
        flex-direction: column-reverse;
    }
    ol, ul {
        padding-left: 0rem !important;
    }
    .risk-section .left blockquote::before {
        height: 250px;
        width: 250px;
        
    }
    .risk-section .left blockquote h5 {
        padding-top: 83px;
        padding-left: 34px;
    }
    .risk-section .left blockquote p {
        padding-left: 33px;
    }
    .risk-section {
        flex-direction: column;
      
    }
    .risk-section .right img, .risk-section .left blockquote{
        width: 50%;
    }
    .risk-section .left{
        width: 40px;
    }
    .risk-section .right {
        width: 403px;
        margin-top: 60px;
    }
}
@media (min-width: 400px) and (max-width:767.98px)  {
    .container-fluid .btn-area{
        display: none !important;
     }
    .sticky-top{
        padding-top: 10px;
        height: 100px;
        background: rgb(39, 35, 35);
        z-index: 1020;
     
     
     }
    header {
        display: none;
    }
    .carousel-section {
        margin-top: -180px;
        
    }
    .nav-wrapper .nav-section .navbar .container-fluid {
        flex-direction: column;
    }
    .container-fluid {
    
        align-items: flex-end !important;
       
    }
   
    
    .nav-wrapper .nav-logo img {
        width: 200%;
        font-size: 250px;
       margin-left: -310px;
    }  

        .main-wrapper .tab-content .tab-pane .left-side-tb1 {
            
            width: 100%;
            
        }
        .main-cal{
            display: flex;
            flex-direction: column;
        }
        .converter-area-cc{
            width: 100%;
        }
        .cal-response{
            width: 100% !important;
    
        }
        .calculator{
            display: flex;
            flex-direction: column-reverse;
        }
      
        .main-wrapper .tab-content .tab-pane .pane-bottom .image {
            padding-top: 8%;
        }
        .main-wrapper .tab-content .tab-pane .pane-bottom .details {
           
            padding-left: 110px;
            margin-top: -100px;
        }
        .pane-bottom .bb-response{
            width: 100%;
            margin-bottom: 10px;
        }

        .main-wrapper .counter-section .counter-area .item {
            background: rgb(80, 62, 62, 0.0);
            width: 25%;
          
        }
        .res-card{
            margin-bottom: 10px;
           }
           .team-work-section{
            padding-bottom: 20px;
           }
        
           .main-wrapper .tab-content .tab-pane .pane-bottom .changes::before {
            padding-top: 86%;
        }
        .main-wrapper .tab-content .tab-pane .pane-bottom .image {
            padding-top: 17%;
            left: -18px;
        }
        
        .main-wrapper .tab-content .tab-pane .pane-bottom .changes:hover::before {
            left: 33% !important;
        }
        .main-wrapper .tab-content .tab-pane .pane-bottom .changes:hover .image {
            left: -61px;
        }
        .main-wrapper .tab-content .tab-pane .pane-bottom .details {
            padding-left: 100px;
            margin-top: -188px;
            font-size: 14px;
        }
        section{
            margin-bottom: 10px;
           }
           .tab-pane .pane-top {
            margin-bottom: 20px;
        }
        .risk-section {
            flex-direction: column;
        }
        .risk-section .left, .risk-section .right{
            width: 100px;
        }
        .risk-section .left, .risk-section .right {
            width: 493px;
            margin-top: 60px;
        }
        .subscribe-title {
            width: 100%;
            text-align: center !important;
        }
        .subscribe-area form {
            padding-left: 0%;
        }
        ol, ul {
            padding-left: 0rem !important;
        }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991.98px) {
    header{
        display: none;
    }
    .container-fluid .navbar-toggler {
        margin-top: -10px;
       
     }
     .container-fluid .btn-area{
        display: none !important;
     }
     
    .main-wrapper .tab-content .tab-pane .left-side-tb1 {
            
        width: 50%;
        
    }
    .main-wrapper .counter-section .counter-area .item {
        background: rgb(80, 62, 62, 0.0);
        width: 25%;
      
    }
    .pane-bottom .bb-response{
        width: 100%;
        margin-bottom: 10px;
    }
    .cal-response{
        width: 100% !important;

    }
    .calculator{
        display: flex;
        flex-direction: column-reverse;
    }
   .res-card{
    margin-bottom: 10px;
   }
   .team-work-section{
    padding-bottom: 20px;
   }

   .team-members .t-card::before {
	padding-top: 251%;
}
.quick-links p {
	padding-top: 200px;
	
}
ol, ul {
	padding-left: 0rem !important;
}
.recent-post a {
	font-size: 15px;
}
.buyBitCoin .right, .buyBitCoin .left{
    width: 100% !important;
}
section{
    margin-bottom: 10px;
   }
 }
/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1199.98px) { 
    .nav-section .navbar .offcanvas-body .navbar-nav .nav-item .nav-link {
        font-size: 13px;
        
    }
    
    .nav-section .navbar .offcanvas-body .navbar-nav .nav-item .nav-link {
        font-size: 12px;
        
    }
    .main-wrapper .tab-content .tab-pane .left-side-tb1 {
            
        width: 50%;
        
    }
    .main-wrapper .tab-content .tab-pane .pane-bottom  .changes::before{
        height: 250px;
        width: 300px;
        padding-top: 60%;
      
      
  }
  .main-wrapper .tab-content .tab-pane .pane-bottom .changes:hover::before{
    left: 30%;
   
    
 }
 .main-wrapper .tab-content .tab-pane .pane-bottom .changes .image{
    left: -10px;
    
  }
  ol, ul {
	padding-left: 1rem !important;
}
.quick-links p {
	padding-top: 140px;
	
}
section{
    margin-bottom: 10px;
   }

 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .main-wrapper .tab-content .tab-pane .left-side-tb1 {
       
        width: 50%;
        margin-bottom: 50px;
    }

 }
 section{
    margin-bottom: 10px;
   }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .carousel-section {
        margin-top: -114px;
        
    }

    .main-wrapper .tab-content .tab-pane .left-side-tb1 {
       
        width: 50%;
        margin-bottom: 100px;
    }
    .nav-section .navbar .offcanvas-body .navbar-nav .nav-item .nav-link {
        font-size: 18px;
        
    }
    section{
        margin-bottom: 10px;
       }

 }